.kannanImg{
    box-shadow: 1px .2px 1px .4px rgba(20,20,20,0.4);
    background-color: #F9F1F0;
}  


.heroText{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroText h1{
    font-size: 2.5rem;
    line-height: 3.6rem;
}

.myName{
    color: #4433ff;
    font-weight: bold;
}